.container{
    margin-top: 160px;
    margin-left:30%;
    margin-right: 30%;
    margin-bottom:5%;
    padding: 20px;
    /* gap: 4px; */
    box-shadow: 2px 2px 2px 3px rgb(203, 104, 124);
}
.title{
    color:white;
    text-decoration: underline;
    text-decoration-color: crimson;
    text-decoration-thickness:4px;
    text-underline-offset: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}
.heading{
    margin-top: 3px;
    color:crimson;
    font-size: 26px;
}
.text{
    margin-top: 4px;
    color: rgb(223, 211, 211);
    font-size: 20px;
    font-weight: 400;
}
.icon{
    color: rgb(218, 218, 230);
}

/* Tablet */
@media screen and (max-width: 768px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 28px;
    }

    .heading {
        font-size: 24px;
    }

    .text {
        font-size: 16px;
    }
}

/* Mobile  */
@media screen and (max-width: 480px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 24px;
    }

    .heading {
        font-size: 20px;
    }

    .text {
        font-size: 16px;
    }
}