.home{
    display: flex;
    justify-content: space-around;
    /* height: 400px; */
    padding: 5px;
    margin-top:190px;
   
    
}
.left{
   margin-top: 45px;
   margin-left: 50px;
   
}
.typerContainer{
     margin-top: 30px; 
     color: white;
    

}
.hello{
    color: white;
}
.typeEffect{
    color: rgb(186, 40, 40);
    line-height: 2px;
    margin-left: 8px;
    font-size:32px;
    font-weight: 700;
}
.icon{
    color:rgb(190, 190, 125);
    font-size:40px;
    

}

button{
    background-color:rgb(129, 21, 42) ;
    color: azure;
    border:none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:2px 5px ;
    height:35px;
    width:110px;
    cursor: pointer;
    /* transition:color 0.4s linear; */
    font-size:18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius:30px;
}
button:hover{
    color:rgb(175, 55, 89);
    font-weight: 700;
    background-color: azure;
    
}
.name{
    color:rgb(184, 204, 198);
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
    text-decoration:underline;
    text-decoration-color:crimson;
    text-decoration-thickness: 3px;
    text-underline-offset:14px;
    /* text-decoration-line:underline ; */
}
.image{
    width:380px; 
    height:350px;
    border-radius:50%;
    box-shadow:3px 3px 3px 4px rgb(212, 209, 209); 

}
/* button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background: rgb(250, 251, 251);
    z-index:-1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
button::before{ */
    /* transform: scaleX(0);
}
button:hover::before{
    transform:scaleX(1)
} */
 
 /* tablet view */

@media only screen and (max-width: 768px) {
    .home {
        flex-direction: column; 
        align-items: center; 
        margin-top: 150px;

    .left {
        margin: 0; 
        text-align: center; 
        padding-bottom: 12px;

    }
}
}

/* for mobile view */
@media only screen and (max-width: 480px) {
    .home {
        flex-direction: column; 
        align-items: center; 
        margin-top:230px;
        
    }

    .left {
        margin: 0; 
        text-align: center;
        padding-bottom: 12px;
    }
    .image{
        width:350px; 
        height:300px;
        border-radius:50%;
        box-shadow:3px 3px 3px 4px rgb(212, 209, 209); 
    
    }
}