.container{
    margin-top: 90px;
    color:rgb(32, 32, 211);
    margin-left: 10%;
    margin-right: 10%;
    /* box-shadow: 2px 2px 2px 3px gray; */

}
.title{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color:white;
    text-decoration: underline;
    text-decoration-color: crimson;
    text-decoration-thickness:4px;
    text-underline-offset: 11px;
}
.projects{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap:35px;
    width: 100%;

}